.auth-buttons {
    position: absolute;
    right: 1rem;
    top: 1rem;
}
.store-button {
    position: absolute;
    left: 1rem;
    top: 1rem;
}

.metamask-auth {
    padding: 1rem;
}
.store {
    padding: 1rem;
}
h1 {
    font-size: 2rem;
    padding-bottom: 1rem;
}